sem_6/RSI/lab_6/lab_6/client/Connected Services/ServiceReference2/MyAsyncComplexCalc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyAsyncComplexCalc" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:10000/AsyncComplexCalc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:10000/AsyncComplexCalc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAsyncCCalculator_Fun1_InputMessage">
    <wsdl:part name="parameters" element="tns:Fun1" />
  </wsdl:message>
  <wsdl:message name="IAsyncCCalculator_Fun2_InputMessage">
    <wsdl:part name="parameters" element="tns:Fun2" />
  </wsdl:message>
  <wsdl:message name="IAsyncCCalculator_Fun2_OutputMessage">
    <wsdl:part name="parameters" element="tns:Fun2Response" />
  </wsdl:message>
  <wsdl:portType name="IAsyncCCalculator">
    <wsdl:operation name="Fun1">
      <wsdl:input wsaw:Action="http://tempuri.org/IAsyncCCalculator/Fun1" message="tns:IAsyncCCalculator_Fun1_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Fun2">
      <wsdl:input wsaw:Action="http://tempuri.org/IAsyncCCalculator/Fun2" message="tns:IAsyncCCalculator_Fun2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAsyncCCalculator/Fun2Response" message="tns:IAsyncCCalculator_Fun2_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAsyncCCalculator" type="tns:IAsyncCCalculator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Fun1">
      <soap:operation soapAction="http://tempuri.org/IAsyncCCalculator/Fun1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Fun2">
      <soap:operation soapAction="http://tempuri.org/IAsyncCCalculator/Fun2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyAsyncComplexCalc">
    <wsdl:port name="BasicHttpBinding_IAsyncCCalculator" binding="tns:BasicHttpBinding_IAsyncCCalculator">
      <soap:address location="http://localhost:10000/AsyncComplexCalc/endpoint2" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>