sem_6/RSI/lab_6/lab_6/client/Connected Services/ServiceReference1/ComplexCalc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/contract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/contract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ComplexNum">
    <xs:sequence>
      <xs:element minOccurs="0" name="Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imag" type="xs:double" />
      <xs:element minOccurs="0" name="real" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComplexNum" nillable="true" type="tns:ComplexNum" />
</xs:schema>