sem_6/RSI/lab_6/lab_6_2/client/Connected Services/TaskRef/AsyncTask.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/contract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/contract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Task">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="times" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Task" nillable="true" type="tns:Task" />
</xs:schema>